body {
	margin: 0;
	color: #333;
	font: 11px Arial, Helvetica, sans-serif;
	background: #ddd;
}
img {
	border-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {text-decoration:underline;}
input,
textarea,
select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #000;
}
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

#wrapper {
	background: url(../images/bg_body.gif) repeat-x 5px 125px;
	width: 1200px;
	margin: 0 auto;
	height: 500px;
}

#header {
	background: url(../images/bg_header.jpg) no-repeat;
	width: 960px;
	height: 124px;
	margin: 0 auto;
	position: relative;
}

#logo {
	display: block;
	background: url(../images/logo.png);
	width: 232px;
	height: 97px;
	position: relative;
	left: 17px;
	top: 0;
}

#navy {
	background: url(../images/bg_navy.png);
	height: 27px;
}

#navy ul {
	margin: 0;
	padding: 0 0 0 271px;
	list-style: none;
}

#navy li {
	float: left;
	background: url(../images/navy_sep.png) no-repeat 0 9px;
}

#navy li:first-child{
	background: none;
}

#navy a {
	color: #eee;
	line-height: 27px;
	font-weight: 600;
	margin: 0 14px;
	text-decoration: none;
}

#navy li ul {
	margin: 0;
	padding: 9px;
	list-style: none;
	width: 154px;
	border: 5px solid #fff;
	overflow: hidden;
	background: #777;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
}

#navy li li:first-child {
	background: #777;
}

#navy li ul li {
	clear: both;
	display: block;
	background: #777;
	width: 100%;
}

#navy li ul a {
	display: block;
	margin: 0;
	padding-left: 11px;
	line-height: 20px;
	font-size: 11px;
}

#navy li ul a:hover {
	background: #999;
}

#navy li:hover {
	position: relative;
}

#navy li:hover ul {
	display: block;
}

#man-form {
	width: 200px;
	position: absolute;
	right: 6px;
	top: 7px;
}

.search-form {
	float: right;
}

.text {
	width: 135px;
	font: 11px/18px "Times New Roman", serif;
}

#man-form a {
	float: right;
	border: none;
	width: 24px;
	height: 15px;
	margin-left: 4px;
	margin-top: 3px;
}

#main {
	width: 960px;
	margin: 0 auto;
	z-index: 10;
	overflow: hidden;
}

#caption {
	background: #666;
}

#caption h1 {
	font: 28px/62px Arial, sans-serif;
	margin: 0;
	color: #fff;
	margin-left: 285px;
}

#content {
	height: 415px;
	background: #333;
	padding-top: 24px;
	padding-right: 150px;
	padding-left: 283px;
}

#content p {
	color: #eee;
	font-weight: 600;
	line-height: 16px;
	margin: 0 0 17px;
}


#aside {
	width: 232px;
	height: 369px;
	float: left;
	margin: -27px 35px 0 17px;
	background: #888;
	position: absolute;
}

#aside h2 {
	color: #fff;
	font-size: 11px;
	border-bottom: 2px solid #c4c4c4;
	margin: 0 18px 0 18px;
	padding: 20px 0 5px 0;
}

#aside img {
	display: block;
	margin: 14px auto 19px;
}

#aside p {
	font: 11px/13px Verdana, sans-serif;
	color: #fff;
	font-weight: 600;
	margin-left: 18px;
}