/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, heading-holder, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figheading-holder, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figheading-holder, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font: 11px Arial, Helvetica, sans-serif;
	background: #ddd;
}

#wrapper {
	background: url(../images/bg_body.gif) repeat-x 5px 125px;
	width: 1200px;
	margin: 0 auto;
}

#header {
	background: url(../images/bg-header.jpg) no-repeat;
	width: 960px;
	height: 97px;
	margin: 0 auto;
	overflow: hidden;
}

#logo {
	display: block;
	float: left;
	width: 232px;
	height: 97px;
	margin: 0 0 0 17px;
}

#logo a {
	display: block;
	background: url(../images/logo.png);
	height: 100%;
	text-indent: -9999px;
}

#man-form {
	float: right;
	/*width: 168px;*/		/*????*/
	padding: 7px 5px;
}

.search-form .text {
	width: 135px;
	font: 11px/17px Verdana, sans-serif;
	margin: 0;
	padding: 0 0 0 4px;
	border-width: 1px;
	vertical-align: middle;
}

#man-form .btn-go {
	border: 1px solid #7c7c7c;
	background: -webkit-linear-gradient(top, #f9f9f9, #e2e2e2);
	border-radius: 8px;
	font: 10px/15px Verdana, sans-serif;
	color: #363636;
	margin: 0;
	padding: 0 4px 0 5px;
	vertical-align: middle;
}

#man-form .btn-go:hover {
	background: -webkit-linear-gradient(top, #f9f9f9, #b6e4f7);
}

/* content */

#main {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#nav-holder{
	background: url(../images/bg-nav.jpg);
	padding: 0 0 0 271px;
}

#nav {
	height: 27px;
}

#nav ul {
	overflow: hidden;
}


#nav li {
	float: left;
	background: url(../images/navy_sep.png) no-repeat 0 9px;
}

#nav li:first-child{
	background: none;
}

#nav a {
	color: #eee;
	line-height: 27px;
	font-weight: 600;
	margin: 0 13px;
	text-decoration: none;
}

#nav li ul {
	overflow: hidden;
	padding: 9px;
	width: 154px;
	border: 5px solid #fff;
	background: #777;
	display: none;
	position: absolute;
	top: 100%;
	left:0;
}

#nav li li:first-child {
	background: #777;
}

#nav li ul li {
	clear: both;
	display: block;
	background: #777;
	width: 100%;
}

#nav li ul a {
	display: block;
	margin: 0;
	padding-left: 11px;
	line-height: 20px;
	font-size: 11px;
}

#nav li ul a:hover {
	background: #999;
}

#nav li:hover {
	position: relative;
}

#nav li:hover ul {
	display: block;
}

#twocolumn {
	background: url(../images/bg-main.jpg) repeat-y;
}

#twocolumn:after{
	content : "";
	clear: both;
	display:block;
}

#aside {
	float: left;
	width: 232px;
	margin: -27px 0 0 17px;
	padding: 15px 0 10px;
	background: #888;
}

.h2-holder {
	padding: 5px 18px;
}

.h2-holder h2 {
	color: #fff;
	font-size: 11px;
}

.h2-holder hr {
	margin: 6px 0 8px;
	color: #c4c4c4;
	border: 1px solid #c4c4c4;
}

.figure {
	text-align: center;
	margin: 0 0 20px;
}

.text-holder {
	padding: 0 18px;
}

.text-holder p {
	font: 11px/13px Verdana, sans-serif;
	color: #fff;
	font-weight: 600;
	padding: 0 0 20px;
}

#heading-holder {
	background: #666;
	padding: 15px 30px 15px 284px;
}

#heading-holder h1 {
	font: 28px/30px Arial, sans-serif;
	color: #fff;
}

.content-text {
	padding: 26px 145px 10px 284px;
}

.content-text p {
	color: #eee;
	font-weight: 600;
	line-height: 16px;
	margin: 0 0 17px;
}