/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font: 11px Arial, Helvetica, sans-serif;
	background: #ddd;
}

#wrapper {
	background: url(../images/bg_body.gif) repeat-x 5px 125px;
	width: 1200px;
	margin: 0 auto;
}

#header {
	background: url(../images/bg-header.jpg) no-repeat;
	width: 960px;
	height: 97px;
	margin: 0 auto;
	overflow: hidden;
}

#logo {
	display: block;
	float: left;
	width: 232px;
	height: 97px;
	margin: 0 0 0 17px;
}

#logo a {
	display: block;
	background: url(../images/logo.png);
	height: 100%;
	text-indent: -9999px;
}

#man-form {
	float: right;
	/*width: 168px;*/
	padding: 7px 5px;
}

.search-form .text {
	width: 135px;
	font: 11px/17px Verdana, sans-serif;
	margin: 0;
	padding: 0 0 0 4px;
	border-width: 1px;
	vertical-align: middle;
}

#man-form .btn-go {
	border: 1px solid #7c7c7c;
	background: -webkit-linear-gradient(top, #f9f9f9, #e2e2e2);
	border-radius: 8px;
	font: 10px/15px Verdana, sans-serif;
	color: #363636;
	margin: 0;
	padding: 0 4px 0 5px;
	vertical-align: middle;
}

#man-form .btn-go:hover {
	background: -webkit-linear-gradient(top, #f9f9f9, #b6e4f7);
}

#navy {
	background: url(../images/bg_navy.png);
	height: 27px;
}

#navy ul {
	margin: 0;
	padding: 0 0 0 271px;
	list-style: none;
}

#navy li {
	float: left;
	background: url(../images/navy_sep.png) no-repeat 0 9px;
}

#navy li:first-child{
	background: none;
}

#navy a {
	color: #eee;
	line-height: 27px;
	font-weight: 600;
	margin: 0 14px;
	text-decoration: none;
}

#navy li ul {
	margin: 0;
	padding: 9px;
	list-style: none;
	width: 154px;
	border: 5px solid #fff;
	overflow: hidden;
	background: #777;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
}

#navy li li:first-child {
	background: #777;
}

#navy li ul li {
	clear: both;
	display: block;
	background: #777;
	width: 100%;
}

#navy li ul a {
	display: block;
	margin: 0;
	padding-left: 11px;
	line-height: 20px;
	font-size: 11px;
}

#navy li ul a:hover {
	background: #999;
}

#navy li:hover {
	position: relative;
}

#navy li:hover ul {
	display: block;
}



#main {
	width: 960px;
	margin: 0 auto;
	z-index: 10;
	overflow: hidden;
}

#caption {
	background: #666;
}

#caption h1 {
	font: 28px/62px Arial, sans-serif;
	margin: 0;
	color: #fff;
	margin-left: 285px;
}

#content {
	height: 415px;
	background: #333;
	padding-top: 24px;
	padding-right: 150px;
	padding-left: 283px;
}

#content p {
	color: #eee;
	font-weight: 600;
	line-height: 16px;
	margin: 0 0 17px;
}


#aside {
	width: 232px;
	height: 369px;
	float: left;
	margin: -27px 35px 0 17px;
	background: #888;
	position: absolute;
}

#aside h2 {
	color: #fff;
	font-size: 11px;
	border-bottom: 2px solid #c4c4c4;
	margin: 0 18px 0 18px;
	padding: 20px 0 5px 0;
}

#aside img {
	display: block;
	margin: 14px auto 19px;
}

#aside p {
	font: 11px/13px Verdana, sans-serif;
	color: #fff;
	font-weight: 600;
	margin-left: 18px;
}